/*######################################################################
                                  Post text
########################################################################*/


/*
font-family: 'Baloo Bhaina 2', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Monsieur La Doulaise', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Cormorant Garamond', serif;
*/


.post h1, h3{
    text-align: center;
}

.post h1 {
    color: #fff;
    font-family: 'Monsieur La Doulaise', sans-serif;
    font-weight: 100;
    font-size: 65px;
    line-height: 60px;
    margin: 10px 0 20px;
    
}


.post h3 {
    /*color: #6b6b6b;*/
    /*text-transform: uppercase;*/
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 50px;
}


.post p {
    /*color: #86868b;*/
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 34px;
    margin: 0 0 3px;
}




/*######################################################################
                                  home
########################################################################*/

#home{
    /*background: radial-gradient(circle at 25% calc(40vh + 1em), rgba(255, 255, 255, 0.86), #222 1000px);*/
}

#home {
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.homeItens {
    padding: 0;
    float: left;
    min-height: 70vh;
    width: 50%;
    min-width: 620px;
    display: flex;
    align-items: center;
    text-align: center;
}

.homeItens div {
    width: 100%;
}

.light {
    filter:drop-shadow(0 0 10px #fff);
}
#home h2{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

#home h1{
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
}
#home h3{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
}
#home p{
    font-family: 'Cormorant Garamond', serif;
}
#home ul{
    display: inline-grid;
}
#home li{
    text-align: left;
}

/*######################################################################
                                  more
########################################################################*/
.more {
    margin: 20px;

}

.more input {
    display: none;
}

.more span {
    padding: 20px;
    display: none;

    background-color: #292929;
}

.more input:checked ~ span {
    display: block;
}

.more label {
    padding: 20px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-color: #292929;
    color: white;
}


/*######################################################################
                                  link
########################################################################*/

.link {
    position: relative;
    height: 200px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #292929;
    transition: all .3s ease-in-out;
    margin: 30px 0;

}

.link a {
    padding: 10%;
    width: 90%;
    height: 90%;
    display: block;
    position: relative;
    color: white;
    padding: 5%;
    text-decoration: none;
}

.link small {
    color: #999;
}

.link:hover {
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2);
}

.link .categ {
    font-size: small;
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.link .categ a {
    color: #999;
}

/*######################################################################
                                  legends
########################################################################*/

#legendsContent li {
    display: inline-block;
    width: 220px;
    background-color: #292929;
    transition: all .3s ease-in-out;
    margin: 30px 0;
}

#legendsContent li div {
    overflow: hidden;
    width: 200px;
    height: 250px;
}

#legendsContent li a {
    padding: 10%;
    width: 90%;
    height: 90%;
    display: block;
    position: relative;
    color: white;
    padding: 5%;
    text-decoration: none;
}

#legendsContent li p {
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    height: 4.5em;
    margin-bottom: 0;
}

#legendsContent li small {
    color: #999;
}

#legendsContent li:hover {
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2);
}

#legendsContent li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.test {

    background-image: radial-gradient(white, black);
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .post div{    
    padding: 1em 500px;
}
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    ...
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #home p{
        font-size: 16px;
    }
    .post div h3{
        font-size: 20px;
    }
    .post div p{
        font-size: 16px;
    }

}
.line {
    fill:white;
}
.line .line-extend{
    width: calc(50% - 80px);
}
