/*######################################################################
                                  html itens
########################################################################*/

html {
    height: 100%;
}


.more input {
    display: none;
}

html,
body {
    font-family: sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

a {
    color: #999;
    text-decoration: none;
}

a:hover {
    color: white;
}

ul {
    list-style-type: circle;
    list-style-position: inside;
}




.tab-folder > .tab-content:target ~ .tab-content:last-child,
.tab-folder > .tab-content {
    display: none;
}



.tab-folder > :last-child,
.tab-folder > .tab-content:target {
    display: block;
    padding: 1em 50px;
}

.tab-folder > :last-child,
.tab-folder > .tab-content#home:target {
    display: flex;
    padding: 0;
}

.tab-folder {}

#principios {
    font-family: sans-serif;
    text-align: center;
}

#page-container {
    height: 100%;
    background-color: #222;
    color: white;
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 5rem;
}

footer {

    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1238px) {
    #home{
    /*background: radial-gradient(circle at 50% calc(35vh + 2em), rgba(255, 255, 255, 0.86), #222 1000px);*/
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .homeItens{
        min-width: inherit;
        width: inherit;
        height: inherit;
    }
    .homeItens h3{
        font-size: 1em;
    }
    .svg-icon, .svg-logo{
        width: 3em;
        height: 3em;
    }
.tab-folder > :last-child,
.tab-folder > .tab-content:target {
    padding: 2em 20px;
}
.tab-folder > :last-child,
.tab-folder > .tab-content#home:target {
    padding: 2em 0;
}
    

}
