.nav {
   position: absolute;  
    width: 100%;
    display: table;
}

.nav ul {
    display: table-cell;
    vertical-align: middle;
    list-style-type: none;
}


.navRight {
    float: right;
}

#menu li {
    display: table-cell;
    
}

ul {
    padding: 0;
    margin: 0;
}




/*----------icons-----------*/

.svg-icon {
    width: 2em;
    height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #fff;
}


/*----------icon logo-----------*/
.svg-logo {
    width: 2em;
    height: 2em;
}


/*----------text logo-----------*/
.logo {
    color: white;
    font-family: 'Megrim', cursive;
    font-weight: 100;

    -webkit-animation: light 1.5s ease-in-out infinite alternate;
    -moz-animation: light 1.5s ease-in-out infinite alternate;
    animation: light 1.5s ease-in-out infinite alternate;
}





@-webkit-keyframes light {
    from {
        text-shadow: 0 0 10px #fff,
            0 0 20px #fff,
            0 0 30px #fff,
            0 0 40px rgba(255, 255, 255, 0.2),
            0 0 70px rgba(255, 255, 255, 0.2),
            0 0 80px rgba(255, 255, 255, 0.2),
            0 0 100px rgba(255, 255, 255, 0.2),
            0 0 150px rgba(255, 255, 255, 0.2);
    }

    to {
        text-shadow: 0 0 5px #fff,
            0 0 10px #fff,
            0 0 15px #fff,
            0 0 20px rgba(255, 255, 255, 0.2),
            0 0 35px rgba(255, 255, 255, 0.2),
            0 0 40px rgba(255, 255, 255, 0.2),
            0 0 50px rgba(255, 255, 255, 0.2),
            0 0 75px rgba(255, 255, 255, 0.2);
    }
}

@-moz-keyframes light {
    from {
        text-shadow: 0 0 10px #fff,
            0 0 20px #fff,
            0 0 30px #fff,
            0 0 40px rgba(255, 255, 255, 0.2),
            0 0 70px rgba(255, 255, 255, 0.2),
            0 0 80px rgba(255, 255, 255, 0.2),
            0 0 100px rgba(255, 255, 255, 0.2),
            0 0 150px rgba(255, 255, 255, 0.2);
    }

    to {
        text-shadow: 0 0 5px #fff,
            0 0 10px #fff,
            0 0 15px #fff,
            0 0 20px rgba(255, 255, 255, 0.2),
            0 0 35px rgba(255, 255, 255, 0.2),
            0 0 40px rgba(255, 255, 255, 0.2),
            0 0 50px rgba(255, 255, 255, 0.2),
            0 0 75px rgba(255, 255, 255, 0.2);
    }
}

@keyframes light {
    from {
        text-shadow: 0 0 10px #fff,
            0 0 20px #fff,
            0 0 30px #fff,
            0 0 40px rgba(255, 255, 255, 0.2),
            0 0 70px rgba(255, 255, 255, 0.2),
            0 0 80px rgba(255, 255, 255, 0.2),
            0 0 100px rgba(255, 255, 255, 0.2),
            0 0 150px rgba(255, 255, 255, 0.2);
    }

    to {
        text-shadow: 0 0 5px #fff,
            0 0 10px #fff,
            0 0 15px #fff,
            0 0 20px rgba(255, 255, 255, 0.2),
            0 0 35px rgba(255, 255, 255, 0.2),
            0 0 40px rgba(255, 255, 255, 0.2),
            0 0 50px rgba(255, 255, 255, 0.2),
            0 0 75px rgba(255, 255, 255, 0.2);
    }
}


/*



*/
