<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="text-center col-12">
        <a class="logo text-dark" href="#">Iluminismo</a>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between" id="menu">
      <a class="p-2 text-muted" href="#home">Home</a>
    </nav>
  </div>
</div>

<div class="container" id="category">
  <div id="folder" class="tab-folder">
    <div id="home" class="tab-content">
      <div class="row mb-2 featured"></div>
      <div class="row mb-2 highlight"></div>
      <div class="row mb-2 postList"></div>
    </div>
  </div>
</div>

<div id="textContainer"></div>
<footer class="blog-footer">
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
