
/*
    font-family: 'Cabin', sans-serif;

    font-family: 'Open Sans', sans-serif;

    font-family: 'Outfit', sans-serif;

    font-family: 'Quicksand', sans-serif;

    Cabin:wght@400;600;700&
    family=Open+Sans:wght@300;400;600;800&
    family=Outfit:wght@400;600;700;800;900&
    family=Quicksand:wght@400;500;700
*/


/*######################################################################
                                  Tab
########################################################################*/

.tab-folder > .tab-content:target ~ .tab-content:last-child,
.tab-folder > .tab-content {
    display: none;
}



.tab-folder > :last-child,
.tab-folder > .tab-content:target {
    display: block;
    padding: 1em 50px;
}





/*######################################################################
                                  ...
########################################################################*/



html{
  font-family: 'Cabin', sans-serif;
}
.logo{
  font-family: "Outfit", Georgia, "Times New Roman", serif;
  font-weight: 700;
font-size: 2.25rem;

}
.logo:hover{
  text-decoration: none;
}
.post-link{
  position: absolute;
height: 100%;
width: 100%;
transition: 0.3s;
border: 0px solid #a2a2a25c;
}
.featured-card{
  padding: 10px 20px!important;
  background: rgba(255, 255, 255, 0);
}
.featured-card:hover{
  transition: 0.3s;
background: #8e8e8e6b;
}
.post-link:hover{

border: 15px solid #a2a2a25c;
    
}

.link-nul,.link-nul:hover{

  text-decoration: none;
color: white;
}

.card-title{
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}
h5{
  font-weight: 600;
}
.display-4{
  font-size: 2.5rem;
  font-weight: 500;
}
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}
.blog-footer{
  padding: 2.5rem 0;
color: #999;
text-align: center;
background-color: #f9f9f9;
border-top: .05rem solid #e5e5e5;
}
img{
  max-width:100%;
  object-fit: cover; object-position: 50% 50%;
}
.post-link, .text-white.font-weight-bold{
  font-weight: 900;
}
.resume{
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}







